.form-spcex {
    display: inline-flex;
    width: 100%;
    table {
        width: 50%;
    }
    table th,
    table td {
        padding: 15px 30px;
        text-align: left;
    }
    table th {
        position: sticky;
        color: #364d67;
        font-weight: 600;
        background-color: #f1f7fd;
        top: 0px;
    }
    table th:last-child {
        display: none;
    }
    table td {
        margin-top: 48px;
        background-color: white;
    }
    table td:hover{
    cursor: pointer;
    }
  
    table tbody tr {
        border-top: 1px solid #f0f4f8;
    }
}
