.insert-form{
    width: 50%;
    form{
        display: flex;
        flex-direction: column;
        input{
            margin-bottom: 20px;
        }
    }
   div >table{
        display: flex;
        justify-content: start;
   }
}
