.cart-list {
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 50px;
  .carts-tab {
  }
  .total-tab {
    border: 1px solid;
    border-radius: 2%;
    height: 70vh;
    padding: 20px;
    span {
      bottom: auto;
    }
  }
}
