.cart-button:hover,
.cart-button:focus {
  --cartsWidth: 500px;
  --cartsHeight: 350px;
  .title {
    font-family: "JP_bold";
    height: 10%;
    top: 0;
    left: 50%;
    position: sticky;
    background-color: white;
    color: #1c658c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
    z-index: 3;
  }
  .shopping-carts {
    position: absolute;
    height: var(--cartsHeight);
    width: var(--cartsWidth);
    border: 3px solid #1c658c;
    border-radius: 20px 0px 20px 20px;
    background-color: white;
    z-index: 3;
    top: 110%;
    right: 0;
    overflow-y: scroll;
    transition: ease 0.25s;
    padding: 0px 20px 20px 20px;
    .cart-items {
      display: block;
      margin-top: 20px;
      padding: 10px;
      .cart-item {
        display: flex;
        vertical-align: middle;
        align-items: center;
<<<<<<< HEAD
        font-size: 1.6rem;
        font-weight: bold;
        padding: 10px;
        z-index: 3;
    }
    .shopping-carts {
        $cartsWidth: 500px;
        $cartsHeight: 350px;
        position: absolute;
        height: $cartsHeight;
        width: $cartsWidth;
        border: 5px solid #1c658c;
        border-radius: 20px 0px 20px 20px;
        background-color: white;
        z-index: 3;
        top: 130%;
        right: 0;
        overflow-y: scroll;
        padding: 20px 20px 20px 20px;
        transform: scale(1);
        transition: ease 0.5s;
        .cart-items {
            display: block;
            margin-top: 20px;
            padding: 10px;
            .cart-item {
                display: flex;
                vertical-align: middle;
                align-items: center;
                border: 1px solid #1c658c;
                border-radius: 15px;
                font-size: 1.1rem;
                color: initial;
                width: 100%;
                height: 70px;
                font-size: 1.1rem;
                margin-bottom: 20px;
                text-align: start;
                position: relative;
                box-sizing: border-box;
                padding: 10px;
                &-img {
                    margin-right: 10%;
                    img {
                        border: 1px solid #eee;
                        height: 60px;
                        width: 60px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                &-infor {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    vertical-align: middle;
                }
                &-amount {
                    display: flex;
                    justify-content: space-between;
                    vertical-align: middle;
                    width: 100px;
                    padding: 0 20px 0 20px;
                    box-sizing: border-box;
                    svg {
                        height: 20px;
                        width: 20px;
                        color: #1c658c;
                        transition: ease 0.1s;
                        &:hover {
                            height: 22px;
                            width: 22px;
                        }
                    }
                }
            }
            button {
                cursor: pointer;
                border: none;
                background: none;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    height: 30px;
                    width: 30px;
                    color: #b8405e;
                }
            }
=======
        border: 1px solid #1c658c;
        border-radius: 15px;
        font-size: 1.1rem;
        color: initial;
        width: 100%;
        height: 70px;
        font-size: 1.1rem;
        margin-bottom: 20px;
        text-align: start;
        position: relative;
        &-img {
          margin-right: 10%;
          img {
            border: 1px solid #eee;
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        &-infor {
          display: flex;
          flex-direction: column;
          justify-content: center;
          vertical-align: middle;
        }
      }
      button {
        cursor: pointer;
        border: none;
        background: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 30px;
          width: 30px;
          color: #b8405e;
>>>>>>> 8f66e7c (launches styling)
        }
      }
    }
  }
}

:last-child div {
  font-family: "JP_bold";
}
.title {
  display: none;
}
<<<<<<< HEAD

.cart-button {
    transform: scale(0);
    .shopping-carts {
        transform: scale(0);
        transition: ease 0.5s;
        .cart-items {
        }
    }
=======
.shopping-carts {
  width: 0;
  height: 0;
  .cart-items {
    display: none;
  }
>>>>>>> 8f66e7c (launches styling)
}

.amount {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #b8405e;
  color: white;
  top: 20%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-button-unhide {
  --cartsWidth: 500px;
  --cartsHeight: 350px;
  .title {
    font-family: "JP_bold";
    height: 10%;
    top: 0;
    left: 50%;
    position: sticky;
    background-color: white;
    color: #1c658c;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}
.cart-button-unhide {
    $cartsWidth: 500px;
    $cartsHeight: 350px;
    .title {
        font-family: "JP_bold";
        height: 10%;
        top: 0;
        left: 50%;
        position: sticky;
        background-color: white;
        color: #1c658c;
=======
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
    z-index: 3;
  }
  .shopping-carts {
    position: absolute;
    height: var(--cartsHeight);
    width: var(--cartsWidth);
    border: 3px solid #1c658c;
    border-radius: 20px 0px 20px 20px;
    background-color: white;
    z-index: 3;
    top: 110%;
    right: 0;
    overflow-y: scroll;
    transition: ease 0.25s;
    padding: 0px 20px 20px 20px;
    .cart-items {
      display: block;
      margin-top: 20px;
      padding: 10px;
      .cart-item {
>>>>>>> 8f66e7c (launches styling)
        display: flex;
        vertical-align: middle;
        align-items: center;
        border: 1px solid #1c658c;
        border-radius: 15px;
        font-size: 1.1rem;
        color: initial;
        width: 100%;
        height: 70px;
        font-size: 1.1rem;
        margin-bottom: 20px;
        text-align: start;
        position: relative;
        &-img {
          margin-right: 10%;
          img {
            border: 1px solid #eee;
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        &-infor {
          display: flex;
          flex-direction: column;
          justify-content: center;
          vertical-align: middle;
        }
      }
      button {
        cursor: pointer;
        border: none;
        background: none;
        position: absolute;
<<<<<<< HEAD
        transform: scale(0);
        border: 4px solid #1c658c;
        border-radius: 20px 20px 20px 20px;
        background-color: white;
        z-index: 3;
        top: 120%;
        right: 0;
        overflow-y: scroll;
        transition: ease 0.25s;
        padding: 20px 0px 20px 20px;
        .cart-items {
            display: block;
            margin-top: 20px;
            padding: 10px;
            .cart-item {
                display: flex;
                vertical-align: middle;
                align-items: center;
                border: 1px solid #1c658c;
                border-radius: 15px;
                font-size: 1.1rem;
                color: initial;
                width: 100%;
                height: 70px;
                font-size: 1.1rem;
                margin-bottom: 20px;
                text-align: start;
                position: relative;
                box-sizing: border-box;
                padding: 10px;
                &-img {
                    margin-right: 3%;
                    img {
                        border: 1px solid #eee;
                        height: 60px;
                        width: 60px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                &-infor {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    vertical-align: middle;
                }

                &-amount {
                    display: flex;
                    justify-content: space-between;
                    vertical-align: middle;
                    width: 100px;
                    padding: 0 20px 0 20px;
                    box-sizing: border-box;
                    svg {
                        height: 20px;
                        width: 20px;
                        color: #1c658c;
                        transition: ease 0.1s;
                        &:hover {
                            height: 22px;
                            width: 22px;
                        }
                    }
                }
            }
            button {
                cursor: pointer;
                border: none;
                background: none;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    height: 30px;
                    width: 30px;
                    color: #b8405e;
                }
            }
=======
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 30px;
          width: 30px;
          color: #b8405e;
>>>>>>> 8f66e7c (launches styling)
        }
      }
    }
<<<<<<< HEAD
=======
  }
>>>>>>> 8f66e7c (launches styling)
}
